<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Tamil picture books
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="card">
    <img src="img/1001_CoverGraphic.jpg" (click)="changeRoot()">
    <p>தமிழ் கதைப் புத்தகங்களுக்கு உங்களை அன்புடன் வரவேற்கின்றோம் ! </p>
  </div>
  <button ion-button block (click)="changeRoot()">Enter</button>
</ion-content>
