<!--
Generated template for the BookView page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar  color="primary">
    <ion-title>{{bookTitle}}</ion-title>
    <!--<button ion-button clear icon-right>
      <ion-icon name="home"></ion-icon>
    </button>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" paginationType="progress" effect="slide">
    <ion-slide *ngFor="let page of pages">
      <img src={{page.page_url}} border="5"/>
      <!--<img src="img/1001_CoverGraphic.jpg" />

      <ion-img [src]={{page.page_url}}></ion-img>-->
      <!--<img src="{{page.page_url}}" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" *ngIf="image_exists" />
      <ion-spinner [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>-->
      <p> {{page.pgtext}}</p>
    </ion-slide>
  </ion-slides>
</ion-content>
