<!--
Generated template for the Books page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{selecetedLevel}} Books</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item text-wrap *ngFor="let book of books" >
      <ion-thumbnail item-left (click)="viewBookPage(book)">
        <img src={{book.iconurl}}>
        <!--<img src="img/iconDefault.jpg">-->
      </ion-thumbnail>
      <div (click)="viewBookPage(book)">
        <h2>{{book.booktitle}}</h2>
        <!--<ion-badge>New</ion-badge>-->
        <p>{{book.book_short_desc}}</p>
      </div>
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up" color="secondary"></ion-icon>
            <div>{{book.likes}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small color="secondary" disabled>
            <ion-icon name="eye" ></ion-icon>
            <div>{{book.views}} Views</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
