
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Levels</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item text-wrap *ngFor="let level of levels" (click)="viewBooks(level)">
      <ion-thumbnail item-left>
        <img src={{level.iconurl}}>
        <!--<img src="img/iconDefault.jpg">-->
      </ion-thumbnail>
      <h2>{{level.level}}</h2>
      <p>{{level.level_short_desc}}</p>
    </ion-item>


  </ion-list>
</ion-content>
